<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Api">
            <file>tests/Api/ClientTest.php</file>
        </testsuite>
        <testsuite name="Rest">
            <directory>tests/Api/Rest</directory>
        </testsuite>
        <testsuite name="Soap">
            <directory>tests/Api/Soap</directory>
        </testsuite>
        <testsuite name="Common">
            <directory>tests/Common</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Ivr">
            <directory>tests/Ivr</directory>
        </testsuite>
        <testsuite name="Docs">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">tests/Docs</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_Username" value="" />
        <env name="API_Password" value="" />
    </php>
</phpunit>
