<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="CallFire-PHP-SDK test">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_Username" value="" />
        <env name="API_Password" value="" />
    </php>
</phpunit>
